#sidebar {
    position: fixed;
    top: 0;
    width: 15vw;
    height: 100%;
    background: #151719;
    right: -15vw;
    transition: all 300ms linear;
}

#sidebar.active {
    right: 0;
}

#sidebar ul {
    padding: 0;
    margin-top: .5em;
}

#sidebar ul li {
    color: white;
    list-style: none;
    padding: .5em 1em;
}

#sidebar ul > li:nth-child(1){
    font-size: 1.3em;
    padding-left: .5em;
}

#hamburger-icon {
    margin-top: .5em;
    width: 2em;
    height: 1em;
    display: block;
    position: fixed;
    left: auto;
    right: 3em;
    transition: right .4s ease-out;
}

#hamburger-icon.active {
    right: calc(15vw + .6em);
}

#hamburger-icon .line {
    display: block;
    background: black;
    width: 2em;
    height: 6px;
    position: absolute;
    right: 0;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

#hamburger-icon .line.line-1 {
    top: 0;
}

#hamburger-icon .line.line-2 {
    top: 50%;
}

#hamburger-icon .line.line-3 {
    top: 100%;
}

#hamburger-icon:hover .line-1,
#hamburger-icon:focus .line-1 {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
}

#hamburger-icon:hover .line-3,
#hamburger-icon:focus .line-3 {
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
}

#hamburger-icon.active .line-1 {
    transform: translateY(.5em) translateX(0) rotate(45deg);
    -webkit-transform: translateY(.5em) translateX(0) rotate(45deg);
    -moz-transform: translateY(.5em) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-.5em) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-.5em) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-.5em) translateX(0) rotate(-45deg);
}

/* #sidebar .toggle-btn {
    cursor: pointer;
    position: absolute;
    right: calc(15vw + 2em);
    top: 2em;
    font-size: 1.5em;
    transition: all 300ms linear;
}
*/

@media only screen and (max-width: 1000px) {
    #sidebar {
        width: 30vw;
        right: -30vw;
    }

    #hamburger-icon.toggle-btn {
        margin-right: calc(1em);
    }

    #hamburger-icon.toggle-btn.active {
        margin-right: calc(30vw);
    }
}