body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin: 2em;
}
.btn{
    transition: box-shadow .3s;
    background: #eee;
    padding: .5em;
    cursor: pointer;
}
.btn-hover{
    /* source: https://codepen.io/ovdojoey/pen/BomKyZ*/
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
div#tools{
    display: inline-block;
}
div#system{
    margin-top: 1em;
}
div#calculatorTypeSelector{
    margin-bottom: 1em;
}
div#calculatorTypeSelector > div{
    display: inline;
}
.itemNameInput{
    height: 2em;
    font-size: 1em;
}
.folder{
}

#editor{
    font-size: 1em;
}