body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin: 2em;
}

.codeStyle{
    color: rgb(197, 0, 0);
    background:#eee;
    font-family: Consolas, monaco, monospace;
}

i.fa-angle-right{
    position: relative;
    top: .1em;
    padding: 0 .5em;
}

.btn {
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    background: #eee;
    padding: .5em;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn-hover {
    /* source: https://codepen.io/ovdojoey/pen/BomKyZ*/
    -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, .2);
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    background: #ddd;
}

#infoBtn{
    cursor: pointer;
    font-size: .5em;
    position: relative;
    bottom: .25em;
}

#infoBtn:hover{
    color: #888;
}

.blurred:focus{
    -webkit-box-shadow: none;
            box-shadow: none;
}
.swal-footer{
    text-align: center;
}

#newItemPlaceholder{
    border: 1px dashed gray;
    background: transparent;
}

#submitFileBtn {
    position: relative;
    bottom: 1em;
    left: 1em;
}

/* Source: https://stackoverflow.com/a/4609491/6798201 */
#submitFileBtn:after {
    content: "\A";
    white-space: pre;
}

#clearBtn{
    margin-left: auto;
}

div#tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: .5em;
}

div#controlPanel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 1em;
}

div#controlPanel span{
    margin-right: .5em;
}

div#controlPanel span:nth-last-child(){
    margin-right: 0;
}

.positionLabel{
    background: transparent;
}

div#system {
    margin-top: 1em;
}

div#calculatorTypeSelector {
    margin-bottom: 1em;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
}

div#calculatorTypeSelector>div {
    display: inline;
}

.itemNameInput {
    height: 2em;
    font-size: 1em;
}

.folder {}

.editor {
    font-size: 1em;
}

/* context menu */

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    /* padding: 12px 0; */
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    -webkit-box-shadow: 1px 1px 2px #cfcfcf;
            box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
    padding: .5em;
    cursor: pointer;
}

.context-menu__item:hover {
    background: #ddd;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

/* Source: https://www.w3schools.com/howto/howto_css_modals.asp*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 1em 16px;}

  div#scriptFormatSelector{
    margin-top: 1em;
  }
  
  /* Modal Footer */
  .modal-footer {
    padding: 1.5em 16px;
    background-color: #5cb85c;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
            animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }